body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


p {
	color: #ffffff;
	font-size: 2em;
}

